<div class="article__form">

  <div class="error_messages">
    <% article.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>


  <p>
    <%= f.label :name, "Title" %><br/>
    <%= f.text_field :name %>  
  </p>


  <p>
    <%= f.label :body, "Content" %><br/>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit class: "article__submit" %>
  </p>

</div>