<div class="article__form">

  <div class="error__messages">
    <% article.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= f.file_field :image %>  
  <%#= image_tag url_for(article.image)  %>

  <div>
    <%= f.label :name, "Title" %><br/>
    <%= f.text_field :name %>  
  </div>


  <div>
    <%= f.label :body, "Content" %><br/>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit class: "article__submit" %>
  </div>

</div>