<div class="article__form">

  <div class="error__messages">
    <% article.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "Cover Photo" %><br/>
    <%= f.file_field :image, class: "form-control", direct_upload: false %>
  </div>

  <div class="mb-3">
    <%= f.label :name, "Title/Name" %><br/>
    <%= f.text_field :name %>  
  </div>


  <div class="mb-3">
    <%= f.label :body, "Content/Body", class: 'mb-3' %><br/>
    <%= f.rich_text_area :body %>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn btn-success article__submit" %>
    <%= link_to 'Cancel Editing', dashboard_path, class: "btn btn-secondary container mt-3" %>
  </div>

</div>

<%= javascript_pack_tag 'trix_attachment' %>