<div class="articles__page">
  <%= render 'header' %>
  <h4 class="subtitle">Hello Folks! It's time to explore this blogsite.</h4>
  <%= link_to 'Create New Article', new_article_path,  class: "article__new" %>

  <div class="articles">
    <% @articles.each do |article| %>
      <div class="article__item">
        <div class="article__content">
          <div class="article__content__header">
            <h2 class="article__name"><%= article.name %></h2>
            <div class="article__modify">
              <%= link_to 'View', show_article_path(article) %>
              <%= render 'modify', article: article %>
            </div>
          </div>

          <%= truncate("<p>"+ article.body + "<p>", escape: false, length: 500, separator: ' ') { link_to "Read more", show_article_path(article), class: 'link__readMore' } %>
        </div>
      </div>
    <% end %>

  </div>
</div>

