<div class="article__show container">
  <div class="image__container">
    <%= render 'articles/article_image', article: @article %>
  </div>
  <div class="article__show__header">
    <h1><%= @article.name %></h1>
    <div class="article__modify article__modify--show">
      <%= render 'articles/modify', article: @article %>
    </div>
  </div>
  <span><%= @article.updated_at %></span>

  <div class="article__body"><%= simple_format(@article.body) %></div>
</div>