<div class="header">
  <h1>Blogs</h1>
  <nav>
    <%= link_to 'Home', home_path %>
  </nav>

    <% if user_logged_in? %>
      <%= current_user.username %>
      <%= link_to "Logout", delete_session_path, method: :delete %>
      <%= link_to "Delete Account", delete_user_path(current_user), method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
</div>